<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Opportunities</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>internHUB</h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Employers</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section>
            <h2>Welcome to Job Website</h2>
            <p>Find your dream job or post a job opening for your company.</p>
            <button><a href="search.html">Find a Job</a></button>
            <button><a href="add_jobs.html">Post a job</a></button>
        </section>

        <section>
            <h2>Featured Jobs</h2>
            <ul>
              <li>
                <h3>Software Engineer</h3>
                <p>Company A is seeking a software engineer with 5+ years of experience.</p>
                <button>Apply Now</button>
              </li>
              <li>
                <h3>Marketing Manager</h3>
                <p>Company B is seeking a marketing manager with 7+ years of experience.</p>
                <button>Apply Now</button>
              </li>
              <li>
                <h3>Accountant</h3>
                <p>Company C is seeking an accountant with 3+ years of experience.</p>
                <button>Apply Now</button>
              </li>
            </ul>
          </section>
      </main>

      <footer>
        <p>&copy; 2023 Kevin Wafula. All rights reserved.</p>
      </footer>
</body>
</html>