{% extends 'base.html'%}
{% block title %} Register Account {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card py-5 ">
            <div class="card-header bg-dark text-white ">
              <h4><i class="fa fa-user-plus"></i> Register</h4>
            </div>

            <div class="card-body">
             <!-- Alerts -->
             {% include 'alerts.html' %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}