
<form method="get" action="{% url 'job_search' %}">
    <input type="text" name="q" placeholder="Search for jobs...">
    <button type="submit">Search</button>
</form>

{% if jobs %}
    <ul>
    {% for job in jobs %}
        <li>{{ job.job_title }}</li>
        <li>{{ job.location }}</li>
        <li>{{ job.company }}</li>
        <li>{{job.description}}</li>
        <li>{{ job.salary}}</li>
        <li>{{ job.contract}}</li>
        <li>{{ job.posted_at }}</li>
       <li> <a href="{{ job.application_link }}">{{ job.url_text }}</a> Apply here </li>

    {% endfor %}
    </ul>
{% else %}
    <p>No jobs found.</p>
{% endif %}
